.inner{
  @apply max-w-7xl w-full mx-auto px-5 py-10 lg:py-20 xl:px-0
}
.h-cal {
  min-height: calc(100% - 80px);
}
.shadow-base {
  box-shadow: 
  -3px -3px 5px 3px rgba(255, 255, 255, 09), 
  3px 3px 7px 0 rgba(0, 0, 0, 0.3)
}

@media screen and (min-width: 1024px) {
  .lg-w-calc-64 {
    width: calc(100% - 16rem);
  }
}

.chk-icon input {
  display: none;
}
.chk-icon label {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}
.chk-icon label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: url(assets/icon-chk1.svg) no-repeat center center / contain;
}
.chk-icon input:checked ~ label::before {
  background-image: url(assets/icon-chk2.svg);
}